<template name="productSubmit">
	<form role="form">
		<h3>Input your product details</h3>
		<div class="form-group">
			<label class="form-label">Medium</label>
			<select class="form-control" name="medium">
				<option>Watercolor</option>
				<option>Oil</option>
				<option>Acryllic</option>
				<option>Abstract</option>
			</select>
		</div>
		<div class="form-group">
			<label class="form-label">Style</label>
			<select class="form-control" name="style">
				<option>Classic/Traditional</option>
				<option>Modern</option>
				<option>Abstract</option>
			</select>
		</div>

		<div class="form-group">
			<label class="form-label">Size</label>
			<input name="size" type="text" value="" class="form-control" placeholder="Please input length x width (example: 12x10)"/>
		</div>

		  <div class="form-group">
		    <label class="sr-only" for="price">Amount (in dollars)</label>
		    	<div class="input-group">
		      		<div class="input-group-addon">$</div>
		      <input type="text" class="form-control" name="price" placeholder="Please input your price, adding materials and a $12.00 shipping fee">
		      <div class="input-group-addon">.00</div>
		    </div>
		  </div>


		<div class="form-group">
			<div class="form-controls">
				<input type="submit" value="Submit" class="btn btn-primary" />
			</div>
		</div>
		  </form>

</template>

