<template name="productShow">
  <div class="container" style="padding-top: 60px">
    <div class="row">
      <div class="col-md-7">
        <img src="{{image}}" alt=""/>
      </div>
      <div class="col-md-5">
        <h3>{{description}}</h3>
        <ul>
          <li>{{medium}}</li>
          <li>{{style}}</li>
          <li>{{size}}</li>
          <li>{{image}}</li>
          <li>Number in stock: {{inventory}}</li>
        </ul>
        <div class="row">
          <div class="col-md-12">
            <h3>{{money price}}</h3>
            <hr/>
            <p>
              <a href="#" class="btn btn-success" id="add-to-cart">
                <i class="glyphicon glyphicon-shopping-cart"></i>
                Add To Cart
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>