<template name="hello">
<div class="container">

<div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" class="uploadFile" id="uploadFile">
    <p class="help-block">Upload a file here .</p>
  </div>
<div class="row">
<div class="col-md-2">
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
      <span class="sr-only">{{progress}}% Complete</span>
    </div>
  </div>
  </div>
  </div>
  </div>

  {{isUploading}}



 <div class="container">
 <p>Uploaded image:</p>

       <img src="{{url}}"/>

 </div>

</template>