*, html, body {
  color: #212121;
  font-family: rooney-sans, foco !important;
}
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.loading-message {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  font-family: sans-serif;
}

.sk-spinner-rotating-plane.sk-spinner {
  background-color: #fff;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-top: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #00796B;
  text-align: center; 
  color: #009688 !important;
}


a#forgot-password-link {
  color: black !important;
}
a#signup-link {
  color: black !important;
}

li.lishow {
  list-style: none;
  background: #727272;
  color: #FFFFFF;
  height: 2em;
  line-height: 2em;
  margin: 2px 0;
  padding: 0 0.5em;
  overflow: hidden;
  width: 3em;
  display: inline;
}

li.lishowsize {
  list-style: none;
  background: #212121;
  color: #FFFFFF;
  height: 2em;
  line-height: 2em;
  margin: 2px 0;
  padding: 0 0.5em;
  overflow: hidden;
  width: 3em;
  display: inline;
}

li.lishowprice {
  list-style: none;
  background: #00796B;
  color: #FFFFFF;
  height: 2em;
  line-height: 2em;
  margin: 2px 0;
  padding: 0 0.5em;
  overflow: hidden;
  width: 3em;
  display: inline;
}


  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }





  