/* custom styles */

#mainnav {
  background-color: #009688;
  border-bottom-width: 2px;
  border-left-style: solid black;
  padding-top: 20px;

}

#mainnav a {
    color: #FFFFFF;
}

#mainnav a:hover {
  background-color: #00796B; 
  color: #FFFFFF;
}

#bg {
  background-image: url('/images/petportrait.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 400px;
  width: 100%;
  color: #FFEB3B;
  padding-top: 30px;
  font-family: "rooney-sans", foco, arial;
}

.navbar-toggle {
  background-color: #00796B;
}

}s
.nav, .main {
    text-align: center;
}

* {
  font-family: foco;
}
#facewrap {
  margin-bottom: 40px;
  text-align: left;
}
#face-wrapper {
   display: inline-block;
}

.face {
   position: relative;
   border: 10px solid #3E606F;
}


