<template name="profileShow">
  <div class="container" style="padding-top:80px">
    <div class="row">
      <div class="col-md-5">
        {{#with currentUser}}
        <img src="{{profile.picture}}-/resize/100x200/"  alt=""/>
        <h1>
        {{profile.name}}
       	</h1>
       	 <p>
        {{email}}
       	</p>
       	  <p>
          {{username}}
       	</p>
          <p>
        {{profile.description}}
        </p>
       	{{/with}}
      </div>
    </div>
  <h2>Your Profile</h2>
<form method="POST" role="form">
    <legend>Change your profile</legend>
    <input type="hidden" name="picture" role="uploadcare-uploader" data-crop />

    <div class="form-group">
        {{text_field 'name'}}
    </div>

    <div class="form-group">
        {{text_area 'description'}}
    </div>

    {{submit_button 'Add'}}
</form>
   </div>
    <ul>
        <li><a href="{{pathFor 'productSubmit'}}">Add some products!</a></li>
    </ul>
</template>